{% extends 'main.html' %}

{% block content %}
<div>
    <form method="post" action="" enctype="multipart/form-data" >
        {% csrf_token %}
            <div>
                <label for="host">学生</label>
                <input required type="text" name="host" list="stu-list">
                <datalist id="stu-list">
                    <select id="host">
                        {% for student in students %}
                        <option value="{{student.name}}">{{student.name}}</option>
                        {% endfor %}
                    </select>
                </datalist>
            </div>
            <div>
                <label for="file">文件</label>
                <input type="file" name="file" id="file">
            </div>
            <button type="submit">提交</button>
    </form>
</div>

{% endblock %}